a.ext-inpage-link {
  color: black;
}

a.ext-inpage-link:visited {
  color: black;
}

a.ext-inpage-link:hover {
  color: #444;
  text-decoration: none;
}

img.ext-popover-image {
  background-color: white;
  display: block;
  position: absolute;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 10px;
  z-index: 10;
  pointer-events: none;
}